<h1>Listing songs</h1>

<table>
  <tr>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.url %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
<br />
<%= link_to 'Pause', pause_path, :method => :post %>
<br />
<%= link_to 'Stop', stop_path, :method => :post %>
<br />
<%= link_to 'Play', play_path, :method => :post %>
<br />
<%= link_to 'Clear', empty_path, :method => :post %>
<br />
<%= link_to 'Song++', next_path, :method => :post %>
<br />
<%= link_to 'Song--', prev_path, :method => :post %>
<br />
<%= link_to 'Vol--', vol_down_path, :method => :post %>
<br />
<%= link_to 'Vol++', vol_up_path, :method => :post %>
